<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <typeAlias type="com.bit.shop.model.BuyingDTO" alias="buyingDTO"/>
        <typeAlias type="com.bit.shop.model.CartDTO" alias="cartDTO"/>
        <typeAlias type="com.bit.shop.model.FavoriteDTO" alias="favoriteDTO"/>
        <typeAlias type="com.bit.shop.model.CategoryDTO" alias="categoryDTO"/>
        <typeAlias type="com.bit.shop.model.MemberDTO" alias="memberDTO"/>
        <typeAlias type="com.bit.shop.model.ProductDTO" alias="productDTO"/>
    </typeAliases>
    <mappers>
        <mapper resource="config/mybatis/mapper/BuyingMapper.xml"/>
        <mapper resource="config/mybatis/mapper/CartMapper.xml"/>
        <mapper resource="config/mybatis/mapper/FavoriteMapper.xml"/>
        <mapper resource="config/mybatis/mapper/CategoryMapper.xml"/>
        <mapper resource="config/mybatis/mapper/MemberMapper.xml"/>
        <mapper resource="config/mybatis/mapper/ProductMapper.xml"/>
    </mappers>
</configuration>